@import "../../node_modules/flatpickr/dist/flatpickr.min.css";
@import "./wp-tabs";

/** Date/Time */
.date-time .form-control.input:read-only {
    color: #495057;
}

/** List Form Dialog */
.listformdialog {
    .modal-dialog {
        max-width: 60vw;
        .modal-body {
            max-height: 75vh;
            overflow-y: auto;
        }
    }
}

/** List Fields Pop-Up Menus */
#calendarFields.dropdown-menu {
    display: block;
    max-height: 250px;
    position: relative;
    overflow-y: auto;
}
#selectedFields.dropdown-menu {
    border: none;
    display: block;
    position: relative;
}

/** User */
.people-picker .btn > .badge {
    color: black;
    text-decoration: none;
}