@import "./wp-tabs";
@import "../../lib/jquery-ui-1.12.1.custom/jquery-ui.min.css";

/* Date Field */
.bs .date-time { width: 100%; }

/* Date Picker */
.ui-datepicker {
    background-color: white;
    z-index: 2000 !important;

    /* Fix for Next/Prev */
    .ui-icon {
        cursor: pointer;
        text-indent: 0px;
    }
}

/* List Form Dialog */
.listformdialog {
    .modal-dialog {
        max-width: 60vw;
        .modal-body {
            max-height: 75vh;
            overflow-y: auto;
        }
    }
}

/** List Fields Pop-Up Menus */
#calendarFields.dropdown-menu {
    display: block;
    max-height: 250px;
    position: relative;
    overflow-y: auto;
}
#selectedFields.dropdown-menu {
    border: none;
    display: block;
    position: relative;
}