/* Date Picker */
.ui-datepicker {
    background-color: white;
    z-index: 2000 !important;
}

/* List Form Dialog */
.listformdialog {
    .modal-dialog {
        max-width: 60vw;
        .modal-body {
            max-height: 75vh;
            overflow-y: auto;
        }
    }
}