/* Date Picker */
.ui-datepicker {
    background-color: white;
    z-index: 2000 !important;

    /* Fix for Next/Prev */
    .ui-icon {
        cursor: pointer;
        text-indent: 0px;
    }
}

/* List Form Dialog */
.listformdialog {
    .modal-dialog {
        max-width: 60vw;
        .modal-body {
            max-height: 75vh;
            overflow-y: auto;
        }
    }
}

/* List Field Pop-Up Menu */
#selectedFields.dropdown-menu {
    border: none;
    display: block;
    position: relative;
}